@using guisfits.HealthTrack.Presentation.Helpers
@model IEnumerable<guisfits.HealthTrack.Application.ViewModels.UsuarioViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Usuários</h2>

<p>
    <a class="btn btn-success" href="@Url.Action("Create")"><i class="fa fa-plus" aria-hidden="true"></i> Adicionar</a>

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sobrenome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlturaMetros)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PesoAtual)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sobrenome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlturaMetros)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nascimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PesoAtual)
        </td>
        <td>
            @Html.Partial("_CRUD", item)
        </td>
    </tr>
}

</table>
