@using guisfits.HealthTrack.Presentation.Models
@model LoginViewModel
@{
    ViewBag.Title = "Entrar";
}

@Html.Partial("_Logo")

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
             {
                @Html.AntiForgeryToken()
                <fieldset>
                    <legend>Entrar</legend>
                    
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group margin-bottom-sm">
                                <span class="input-group-addon"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i></span>
                                @Html.TextBoxFor(m => m.Email, new {@class = "form-control", placeholder = "Digite seu E-mail", autofocus = "true"})
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group margin-bottom-sm">
                                <span class="input-group-addon"><i class="fa fa-unlock-alt fa-fw" aria-hidden="true"></i></span>
                                @Html.PasswordFor(m => m.Password, new {@class = "form-control", placeholder = "Digite sua Senha"})
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                <label class="control-label" for="RememberMe">Mantenha-me conectado</label>
                            </div>
                        </div>
                    </div>
                    
                    @Html.ValidationSummary(true, "", new {@class = "text-danger"})

                    <div class="form-group">
                        <div class="text-center">
                            <div class="col-md-12">
                                <input type="submit" value="Entrar" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                <div class="col-md-12 text-center">
                    <!-- Enable this once you have account confirmation enabled for password reset functionality -->
                    @Html.ActionLink("Esqueceu a senha?", "ForgotPassword")
                </div>
                </fieldset>
             }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval"),
    @Scripts.Render("~/bundles/Site");
}


