@model HealthTrack.MVC.ViewModels.UsuarioViewModel

@{
    ViewBag.Title = "Dashboard";
}

<!--Dados do usuário-->
<div class="jumbotron ">
    <div class="row">
        <div class="col-md-4">
            <img alt="Foto do usuário" src="~/www/img/circle/user.png" class="img-circle img-responsive center-block" width="230" height="230">
        </div>
        <div class="col-md-8">
            <h3><strong>@Model.Nome @Model.Sobrenome</strong></h3>
            <p>
                <i class="fa fa-birthday-cake" aria-hidden="true"></i><strong> Idade: </strong> @Model.IdadeAtual anos
                <br /><i class="fa fa-balance-scale" aria-hidden="true"></i><strong> Peso: </strong> @Model.PesoAtual
                @if(@Model.PressoesArteriais.Any())
                { 
                    <br /><i class="fa fa-heartbeat" aria-hidden="true"></i><strong> Pressão Arterial: </strong> @Model.PressoesArteriais.FirstOrDefault().Status
                }
                <br /><i class="fa fa-bar-chart" aria-hidden="true"></i><strong> IMC: </strong> @Model.Imc.Valor <strong>Status: </strong> @Model.Imc.Status
            </p>
        </div>
    </div>
</div>

<div class="hidden-xs hidden-sm">
    
    @if (Model.Pesos.Any())
    {
        <!--Seção de pesos-->
        <hr/>
        <div class="row">
            <div class="col-md-4">
                <img class="img-circle" src="~/www/img/circle/weight.png" alt="Uma mulher correndo" width="300" height="300">
            </div>
            <div class="panel panel-default col-md-8">
                <div class="panel-heading">
                    <h3 class="panel-title">Seus últimos pesos cadastrados</h3>
                </div>
                <div class="">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Data</th>
                                <th>Peso</th>
                            <tr>
                        </thead>
                        <tbody>
                        @foreach (var peso in Model.Pesos)
                        {
                            <tr>
                                <td>@peso.DataHora.ToShortDateString()</td>
                                <td>@peso.ValorPeso kg</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }

    <!--Seção de exercícios-->
    @if (Model.ExerciciosFisicos.Any())
    {
        <hr/>
        <div class="row">
            <div class="panel panel-default col-md-8">
                <div class="panel-heading">
                    <h3 class="panel-title">Seus últimos exercícios cadastrados</h3>
                </div>
                <table class="table">
                    <thread>
                        <tr>
                            <th>Data</th>
                            <th>Tipo</th>
                            <th>Calorias</th>
                        </tr>
                    </thread>
                    <tbody>
                    @foreach (var exercicio in Model.ExerciciosFisicos)
                    {
                    <tr>
                        <td>@exercicio.DataHora </td>
                        <td>@exercicio.Tipo</td>
                        <td>@exercicio.Calorias</td>
                    </tr>
                    }
                    </tbody>
                </table>
            </div>

            <div class="col-md-4">
                <img class="img-circle" src="~/www/img/circle/exercise.png" alt="Ilustração de exercício" width="300" height="300">
            </div>
        </div>
    }
    <!--seção de alimentos-->
    
    @if (Model.Alimentos.Any())
    {   
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <img class="img-circle" src="~/www/img/circle/food.png" alt="Ilustração de alimentos saudaveis" width="300" height="300">
        </div>
        <div class="panel panel-default col-md-8">
            <div class="panel-heading">
                <h3 class="panel-title">Seus últimos alimentos cadastrados</h3>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>Data</th>
                    <th>Tipo</th>
                    <th>Calorias</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var alimento in Model.Alimentos)
                {
                    <tr>
                        <td>@alimento.DataHora.ToShortDateString()</td>
                        <td>@alimento.Tipo</td>
                        <td>@alimento.Calorias</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    }
    
    @if (Model.PressoesArteriais.Any())
    {
        <!--seção de pressão-->
        <hr/>
        <div class="row">
            <div class="panel panel-default col-md-8">
                <div class="panel-heading">
                    <h3 class="panel-title">Suas últimas pressões cadastradas</h3>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Data</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var pressao in Model.PressoesArteriais)
                    {
                        <tr>
                            <td>@pressao.DataHora.ToShortDateString()</td>
                            <td>@pressao.Status</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <img class="img-circle" src="~/www/img/circle/pressure.png" alt="Ilustração de pressão arterial" width="300" height="300">
            </div>
        </div>
    }

</div> <!-- hidden -->
<!--footer-->
<hr />
<footer class="footer">
    <div class="container">
        <div class="row text-center">
            <p> 2017 &copy Health Track</p>
        </div>
    </div>
</footer>